module.exports = {
    "consumerKey": "",
    "consumerSecret": "",
    "accessToken": "",
    "accessTokenSecret": "",
    "callBackUrl": "",
    "password": "",
    "mobile": "",
    "twilioAssignedPhoneNumber": "",
    "twilioAccountSid": "",
    "twilioAuthToken": "",
    "redisPort": 6379,
    "redisMachine": "",
    "redisAuth": "",
    "enableAuth": true
};                                                                        
